<form data-ng-submit="save()" class="noMargin" name="editJsonToGridForm" novalidate>
    <div class="modal-header">
        <h3 class="modal-title col-md-9">Edit JSON To Grid</h3>
        <button type="button" class="close" data-ng-click="cancel()" data-dismiss="modal" aria-label="Close"
            id="close-edit-progress-form-btn">
            <div aria-hidden="true" class="version-button">+</div>
        </button>
    </div>
    <div class="modal-body">
        <div class="typehead-field" name="userForm">
            <div class="row margin-bottom-sm">
                <div class="col-md-6 padding-right-0">
                    <div class="form-group margin-bottom-0">
                        <label for="resourcefields" class="control-label margin-top-sm">Select Playbook Collection<span
                                class="text-danger">*</span></label>
                        <div data-cs-typeahead="getWorkflowCollectionsField"
                            data-placeholder="'Select Playbook Collection'" data-ng-model="config.playbookCollection"
                            data-form-name="'variableForm'" data-change-method="changedCollection"></div>
                    </div>
                    <div data-cs-messages="editJsonToGridForm.resourcefields"></div>
                </div>
            </div>
            <label class="control-label padding-top-18px">Data Provider Playbook<span
                    class="text-danger">*</span></label>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group margin-bottom-0">
                        <select name="selectedPlaybook" id="selectedPlaybook" class="form-control"
                            data-ng-model="newPlaybook" data-ng-options="playbook.name for playbook in playbookData" data-ng-change="addButton(newPlaybook)" >
                            <option value="">Select a Playbook</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <ul id="action-editor" class="list-group margin-top-md clearfix" data-as-sortable
                        data-ng-model="config.actionButtons" data-ng-show="playbookData">
                        <li id="draggable-item-all{{$index}}" class="column-editor-block"
                            data-ng-repeat="action in config.actionButtons" data-as-sortable-item>
                            <div cs-icons data-ng-model="action.icon" style="width: 50px; display: inline-block;"></div>
                            <div data-as-sortable-item-handle class="column-editor-text" title="{{ action.name }}">
                                {{action.name}}</div>
                            <span class="icon icon-close text-danger pull-right margin-top-sm"
                                data-ng-click="removeButton($index)"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <label class="control-label padding-top-18px">Action Buttons (No Record Selection)<span
                    class="text-danger">*</span></label>
            <div class="form-group">
                <div class="cs-select">
                    <ui-select name="select_playbooks" id="select_playbooks_without_record"
                        data-ng-model="config.selectedPlaybooksWithoutRecord" data-ng-required="true" multiple
                        class="custom-multi-select" append-to-body="false">
                        <ui-select-match placeholder="Choose Playbook Name...">{{$item.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="field in playbookData | filter: $select.search | orderBy: 'name'"
                            refresh-delay="200" ng-show="($select.items.length > 0) ||">
                            <div ng-bind-html="field.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="fa fa-sort-desc"></span>
                </div>
                <div data-cs-messages="$ctrl.formHolder.editJsonToGridForm.verdict_field_mapping_non_phishing">
                </div>
            </div>
            <label class="control-label padding-top-18px">Action Buttons (With Record Selection)<span
                    class="text-danger">*</span></label>
            <div class="form-group">
                <div class="cs-select">
                    <ui-select name="select_playbooks" id="select_playbooks_with_record"
                        data-ng-model="config.selectedPlaybooksWithRecord" data-ng-required="true" multiple
                        class="custom-multi-select" append-to-body="false">
                        <ui-select-match placeholder="Choose Playbook Name...">{{$item.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="field in playbookData | filter: $select.search | orderBy: 'name'"
                            refresh-delay="200" ng-show="($select.items.length > 0) ||">
                            <div ng-bind-html="field.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="fa fa-sort-desc"></span>
                </div>
                <div data-cs-messages="$ctrl.formHolder.editJsonToGridForm.verdict_field_mapping_non_phishing">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="edit-widget-save" type="submit" class="btn btn-sm btn-primary"><i
                class="icon icon-check margin-right-sm"></i>Save</button>
        <button id="edit-widget-cancel" type="button" class="btn btn-sm btn-default" data-ng-click="cancel()"><i
                class="icon icon-close margin-right-sm"></i>Close</button>
    </div>
</form>